@font-face {
    font-family: "BrandonGrotesqueMedium";
    src: url('../assets/BrandonGrotesqueMedium.otf') format('opentype');
}

* {
	font-family: BrandonGrotesqueMedium;
	font-weight: medium;
    color: #97A4B2;
}

body, html {
    margin: 0;
    padding: 0;
    height: 100%;
    overflow: hidden;
}

.background {
    position: relative;
    height: 100vh;
    width: 100vw;
    background-color: #282B2C;
    z-index: -2;
    user-select: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
}

.text-container {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 60%;
    text-align: center;
    background-color: rgba(5, 5, 5, 0);
}
.text-container p {
    color: #97A4B2;
    font-size: 14px;
    margin: 0;
    word-wrap: break-word;
}

#head.display-text {
    color: #AFC1D6;
    font-size: 16px;
    font-weight: bold;
}

.button-container {
    position: absolute;
    top: 10px;
    right: 10px;
}

.video-button,
.home-button {
    background-color: transparent;
    border: none;
    cursor: pointer;
}

.top-right-button {
    margin-left: 2px;
}

.video-button img,
.home-button img {
    width: 30px;
    height: 30px;
}
